<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background: #F2F2F2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  
	<a href="http://localhost:8080/spotify">Home</a>
	<a href="/usuario/{{usuario.idUsuarioNormal}}">Informaci&oacute;n</a>
	<a href="/cancion">Canciones</a>
	<a href="/cancion/playlist">Playlist</a>
	<a href="/usuario/{{usuario.idUsuarioNormal}}">Actualizar</a>	
	<a href="#">Log out</a>
</div>
<div id="main">
  <h2>Bienvenido</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam ut lorem et augue venenatis porttitor vitae vitae orci. 
    Donec sagittis lorem est, non pretium felis rhoncus eget. 
    Etiam eget neque vel felis viverra euismod non at magna. 
    Proin vitae lorem non nisl tincidunt varius. Nullam elit lacus, consequat eu vehicula id, condimentum ut tortor. 
    Aliquam tempus non lacus non cursus. Fusce diam ligula, efficitur sed quam sed, congue feugiat metus. 
    Sed lobortis velit non magna varius, quis maximus libero tincidunt.
  </p>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Options</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>

</body>
</html> 