<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buscar Usuarios</title>
  </head>
  <body>
   <h1>B&uacutesqueda de Usuarios por C&oacutedigo</h1>
   
   {% if (message) %}
 <div style="color: green; border: 1px solid green; margin-bottom:10px;">{{message}}</div>
 {% endif %}
   <form action="search" method="POST">
   	C&oacutedigo: <input type="text" name="var1"><br>
    <input type="submit" value="Buscar">
   </form> 
   <input type="button" value="Atras" onclick="history.back()">
  </body>
</html>