<!DOCTYPE html>
<html lang="es">
<head>
  <title>Spotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/icono.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style> 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #0D5203;
    }
    
    footer {
      background-color: #012503;
      padding: 25px;
      color: #FFFFFF;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

	body{
      background: #000000;
  	}
  	
  	select[multiple], select[size] {
      height: auto;
    }

    #reproductorBox{
      width: 25%;;
      text-align: center;
      align-content: center;
      background: #000000;
    }

    #selectTrack{
      width: 100%;
      text-align: center;
    }

    #selectTrack{
      text-align: center;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://localhost:8080/spotify">Spotify</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#" class="text-dark">About</a></li>
        <li><a href="#" class="text-dark">Projects</a></li>
        <li><a href="#" class="text-dark">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
function cambiarTrack(track){
  var path =  track.getAttribute("path")
  old_audio = document.getElementById("reproductor")
  father_audio = old_audio.parentNode
  father_audio.removeChild(old_audio)
  new_audio = document.createElement("audio")
  new_audio.setAttribute("id","reproductor")
  new_audio.setAttribute("controls", "controls")
  new_audio.setAttribute("autoplay", "autoplay")
  source = document.createElement("source")
  source.setAttribute("src", path)
  source.setAttribute("type", "audio/mpeg")
  source.setAttribute("id", "reproductorSource")
  new_audio.appendChild(source)
  father_audio.appendChild(new_audio)
}

function cargarReproductor(){
  var select = document.getElementById("selectTrack")
  var path = select.options[0].getAttribute("path")

  audio = document.createElement("audio")
  audio.setAttribute("id","reproductor")
  audio.setAttribute("controls", "controls")       
  source = document.createElement("source")
  source.setAttribute("src", path)
  source.setAttribute("type", "audio/mpeg")
  source.setAttribute("id", "reproductorSource")
  audio.appendChild(source)
  padre = document.getElementById("reproductorBox")
  padre.appendChild(audio)
}
</script>

<div id="reproductorBox">
<select id = "selectTrack" multiple onchange="cambiarTrack(this.options[this.selectedIndex]);">
	{% for cancion in canciones %}	
		<option path="/music/alter bridge_metalingus.mp3">{{cancion.Nombre}}. Point {{cancion.Puntuacion}}</option>
	{% endfor %} 
</select>
<script>cargarReproductor();</script>
</div>

<footer class="container-fluid text-center">
  <p>Maldonado - Cerpa - Mamani - Nu&ntilde;ez - Anco</p>
</footer>

</body>
</html>
