<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  	

  </head>
  <body>
  
  	<form method="get">
  		<button type="button" class="btn btn-block btn-outline-dark" type="Submit"> Registrate!!</button>
  	</form>
  	
  	<div class="container" align="center">
  		<img src="https://i.pinimg.com/736x/13/8a/90/138a9089f8cf96aafae59a8b3896e846--drawing-music-music-drawings.jpg" width="300" height="300" alt="Pirate Spotify" />
  	
  		<form action="ingresar" method="POST" class="form-signin">
 				<h3 class="form-signin-heading" text="Bienvenido" ></h3>
 				<br/>
 				
 				<input type="text" id="email" name="email" placeholder="Email" class="form-control" /> <br />			
  				<input type="password" placeholder="Password" id="password" name="password" class="form-control" /> <br />
  		</form>
  
  	</div>
  	
  </body>
  </html>  	