<!DOCTYPE html>
<html>
<style>
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
    body{background:url(https://www.walldevil.com/wallpapers/a95/music-wallpaper-abstract-skilal-headphones.jpg);
    background-attachment:fixed;
    background-size:cover;
    }

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #161916;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #606060;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #d1d1d1;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>
<body>

<h2>Registrate en Pirate...</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>

<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign In</button>

<div id="id02" class="modal">
	<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">x</span>
	<form class="modal-content animate" action="login">
		<div class="container">
			<label><b>Correo: </b></label>
			<input type="text" placeholder="Ingresa tu correo" name="Correo" required="required"/>
		
			<label><b>Password: </b></label>
			<input type="password" placeholder="Ingresa tu password" name="idUsuarioNormal" required="required"/>

      		<div class="clearfix">
        		<button type="submit" class="signupbtn">Ingresar</button>
        		<button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      		</div>			
		</div>
	</form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="save" method="POST">
    <div class="container">
      <label><b>Nombre: </b></label>
      <input type="text" placeholder="Ingresa tu nombre" name="Nombre" required="required" />
      
      <label><b>Apellido Paterno</b></label>
      <input type="text" placeholder="Ingresa tu primer apellido" name="ApellidoPaterno" required="required"/>
    	
      <label><b>Apellido Materno</b></label>	
      <input type="text" placeholder="Ingresa tu segundo apellido" name="ApellidoMaterno" required="required"/>	
    	
      <label><b>Correo: </b></label>
      <input type="text" placeholder="Ingresa tu correo" name="Correo" required="required" />

      <label><b>Password</b></label>
      <input type="password" placeholder="Ingresa tu password" name="idUsuarioNormal" required="required" />

      <input type="checkbox" checked="checked"> Recuerdame...
      <p>Al suscribirte a Pirate aceptas nuestros <a href="#">Terminos y condiciones</a>.</p>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Registrarse</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
