<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spotify</title>
  </head>
  <body>
	<a href="/usuario">Usuarios</a><br />
	<a href="/cancion">Canciones</a><br />
  </body>
</html>
