<!DOCTYPE html>
<html lang="es">
<head>
  <title>Registro Spotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/icono.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style> 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #0D5203;
    }
    
    footer {
      background-color: #012503;
      padding: 25px;
      color: #FFFFFF;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

	body{
      background: #FFFFFF;
  	}
  	
  	#reproductorBox{
      width: 50%;
      
      text-align: center;
      background: #000000;
    }

    #selectTrack{
      text-align: center;
    }
    
    #formLogIn {
    	margin: auto;
    	width: 350px;
    	margin-top: 10px;
    	padding: 10px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://localhost:8080/spotify">Spotify</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/spotify/about" class="text-dark">Sobre nosotros</a></li>
        <li><a href="#" class="text-dark">Proyectos</a></li>
        <li><a href="#" class="text-dark">Contacto</a></li>
        <li><a href="/usuario" class="text-dark">Usuarios</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/spotify/registro"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a></li>
        <li><a href="/spotify/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesi&oacuten</a></li>
      </ul>
    </div>
  </div>
</nav>

<form id="formLogIn" method="post">
	<h2>Inicia sesi&oacute;n en Spotify</h2>
	Correo:<br>
	<input type="text" name="nombre"><br>
	Contrase&ntilde;a:<br>
	<input type="password" name="contrasenha"><br><br>	
	<input type="submit" value="Iniciar sesi&oacute;n">	
</form>

<footer class="container-fluid text-center">
  <p>Maldonado - Cerpa - Mamani - Nu&ntilde;ez - Anco</p>
</footer>

</body>
</html>
